<template>
  <div>
    <form
        id="app"
        v-on:submit.prevent = "sendWords"
    >
      <p>
        <label for="text">Текст: </label>
        <input
            id="text"
            v-model="text"
            type="text"
            name="text"
            @keyup.enter="sendWords"
            required
        >
      </p>
      <p>
        <input
            type="submit"
            value="Отправить"
        >
      </p>
    </form>
    <p v-if="response !== ''">Ответ: {{ response }}</p>
  </div>
</template>

<script>

import axios from "axios";

export default {
  name: 'App',
  data() {
    return {
      text: '',
      response: '',
    };
  },
  methods: {
    sendWords() {
      axios
          .post('http://localhost:8081/model', { 'text': this.text })
          .then(response => {
            console.log(response);
            if (response.data.result == true) {
              this.response = 'позитивный текст';
            }
            else if (response.data.result == false) {
              this.response = 'негативный текст';
            }
          })
          .catch(error => {
            this.response = 'таких слов нет в модели';
            console.log(error);
          })
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
